<h1>
Random Results
</h1>
<div>
  <h5>
  <label> Minimum
  </label>
  <br>
   <%= @min %>
 </h5>
 </div>
 <div>
<h5>
  <label> Maximum
  </label>
    <br>
    <%= @max %>
</h5>
</div>
<div>
<h5>
  <label> Random Number
  </label>
  <br>
   <%= @random_num %>
</h5>
</div>
<h5>
<a href="/random/results?min=<%=@min%>&max=<%=@max%>">Recalculate</a>
</h5>
<h5>
<a href="/random/new">Pick another random number</a>
</h5>
